In [1]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [2]:
df = pd.read_csv(r"C:\Users\Admin\Desktop\internship\cognifyz tasks\Dataset .csv")

In [3]:
print(df.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...          Currency Has Table booking  \
0        French, Japanese, Desserts  ...  Botswana Pula(P)               Yes
1                          Japanese  ...  Botswana Pula(P)               Yes
2  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)               Yes
3                   Japanese, Sushi  ...  Botswana Pula(P)                No
4                  Japanese, Korean  ...  Botswana Pula(P)               Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No           3
1                  No                No                   No           3
2                  No                No                   No           4
3                  No                No                   No           4
4                  No                No                   No           4

   Aggregate rating  Rating color Rating text Votes
0               4.8    Dark Green   Excellent   314
1               4.5    Dark Green   Excellent   591
2               4.4         Green   Very Good   270
3               4.9    Dark Green   Excellent   365
4               4.8    Dark Green   Excellent   229

[5 rows x 21 columns]

In [4]:
#handling missing values
df.isnull()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9550,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
#removing missing values by dropping the values
df.dropna()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [6]:
print(df.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...          Currency Has Table booking  \
0        French, Japanese, Desserts  ...  Botswana Pula(P)               Yes
1                          Japanese  ...  Botswana Pula(P)               Yes
2  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)               Yes
3                   Japanese, Sushi  ...  Botswana Pula(P)                No
4                  Japanese, Korean  ...  Botswana Pula(P)               Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No           3
1                  No                No                   No           3
2                  No                No                   No           4
3                  No                No                   No           4
4                  No                No                   No           4

   Aggregate rating  Rating color Rating text Votes
0               4.8    Dark Green   Excellent   314
1               4.5    Dark Green   Excellent   591
2               4.4         Green   Very Good   270
3               4.9    Dark Green   Excellent   365
4               4.8    Dark Green   Excellent   229

[5 rows x 21 columns]

In [7]:
#applying one hot encoding
#step-1 identifying categorical cols
categorical_cols=df.select_dtypes(include=['object']).columns.tolist()
print("Following are categorical cols:",categorical_cols)

Following are categorical cols: ['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose', 'Cuisines', 'Currency', 'Has Table booking', 'Has Online delivery', 'Is delivering now', 'Switch to order menu', 'Rating color', 'Rating text']

In [14]:
#step-2 applying one hot encoding 
#encoded_dataset = pd.get_dummies(df, columns = categorical_cols, drop_first=True)
#print(encoded_dataset)
categorical_cols = ['Cuisines', 'Has Table booking', 'Has Online delivery']
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [15]:
features = ['Price range', 'Votes', 'Latitude', 'Longitude'] + [col for col in df_encoded.columns if col.startswith(tuple(categorical_cols))]
X = df_encoded[features]
y = df_encoded['Aggregate rating']


#splitting into training and testing dataset
X = df.drop(columns=['Restaurant ID'])  # Features
y = df['Rating text']                 # Target variable
# Handle non-numerical data (One-Hot Encoding)
X = pd.get_dummies(X, drop_first=True)

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
# Display the shapes of the resulting datasets
print("Training features shape:", X_train.shape)
print("Testing features shape:", X_test.shape)
print("Training target shape:", y_train.shape)
print("Testing target shape:", y_test.shape)

Training features shape: (7640, 20828)
Testing features shape: (1911, 20828)
Training target shape: (7640,)
Testing target shape: (1911,)

In [10]:
print(X_train)
print(y_train)

      Country Code  Longitude   Latitude  Average Cost for two  Price range  \
1115             1  77.306073  28.472912                  1900            3
7633             1  77.039089  28.621372                   100            1
8267             1  77.387116  28.533194                   100            1
7209             1  77.282282  28.632808                   250            1
6242             1  77.135169  28.688001                   600            2
...            ...        ...        ...                   ...          ...
5734             1   0.000000   0.000000                   200            1
5191             1  77.206066  28.533123                   650            2
5390             1  77.193738  28.527825                   250            1
860              1  78.061187  30.342509                  1600            4
7270             1  77.162447  28.706337                   600            2

      Aggregate rating  Votes  Restaurant Name_#Dilliwaala6  \
1115               3.3     56                         False
7633               3.0      4                         False
8267               0.0      0                         False
7209               0.0      1                         False
6242               2.5     75                         False
...                ...    ...                           ...
5734               0.0      0                         False
5191               3.8     75                         False
5390               0.0      0                         False
860                4.4     66                         False
7270               3.7    195                         False

      Restaurant Name_#InstaFreeze  Restaurant Name_#OFF Campus  ...  \
1115                         False                        False  ...
7633                         False                        False  ...
8267                         False                        False  ...
7209                         False                        False  ...
6242                         False                        False  ...
...                            ...                          ...  ...
5734                         False                        False  ...
5191                         False                        False  ...
5390                         False                        False  ...
860                          False                        False  ...
7270                         False                        False  ...

      Rating color_Green  Rating color_Orange  Rating color_Red  \
1115               False                 True             False
7633               False                 True             False
8267               False                False             False
7209               False                False             False
6242               False                 True             False
...                  ...                  ...               ...
5734               False                False             False
5191               False                False             False
5390               False                False             False
860                 True                False             False
7270               False                False             False

      Rating color_White  Rating color_Yellow  Rating text_Excellent  \
1115               False                False                  False
7633               False                False                  False
8267                True                False                  False
7209                True                False                  False
6242               False                False                  False
...                  ...                  ...                    ...
5734                True                False                  False
5191               False                 True                  False
5390                True                False                  False
860                False                False                  False
7270               False                 True                  False

      Rating text_Good  Rating text_Not rated  Rating text_Poor  \
1115             False                  False             False
7633             False                  False             False
8267             False                   True             False
7209             False                   True             False
6242             False                  False             False
...                ...                    ...               ...
5734             False                   True             False
5191              True                  False             False
5390             False                   True             False
860              False                  False             False
7270              True                  False             False

      Rating text_Very Good
1115                  False
7633                  False
8267                  False
7209                  False
6242                  False
...                     ...
5734                  False
5191                  False
5390                  False
860                    True
7270                  False

[7640 rows x 20828 columns]
1115      Average
7633      Average
8267    Not rated
7209    Not rated
6242      Average
          ...
5734    Not rated
5191         Good
5390    Not rated
860     Very Good
7270         Good
Name: Rating text, Length: 7640, dtype: object

In [17]:
print(df.dtypes)

Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Is delivering now        object
Switch to order menu     object
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
dtype: object

In [18]:
for col in df.columns:
    print(f"{col}: {df[col].unique()[:5]}")  # Display first 5 unique values for each column

Restaurant ID: [6317637 6304287 6300002 6318506 6314302]
Restaurant Name: ['Le Petit Souffle' 'Izakaya Kikufuji' 'Heat - Edsa Shangri-La' 'Ooma'
 'Sambo Kojin']
Country Code: [162  30 216  14  37]
City: ['Makati City' 'Mandaluyong City' 'Pasay City' 'Pasig City' 'Quezon City']
Address: ['Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City'
 'Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City'
 'Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City'
 'Third Floor, Mega Fashion Hall, SM Megamall, Ortigas, Mandaluyong City'
 'Third Floor, Mega Atrium, SM Megamall, Ortigas, Mandaluyong City']
Locality: ['Century City Mall, Poblacion, Makati City'
 'Little Tokyo, Legaspi Village, Makati City'
 'Edsa Shangri-La, Ortigas, Mandaluyong City'
 'SM Megamall, Ortigas, Mandaluyong City'
 'SM by the Bay, Mall of Asia Complex, Pasay City']
Locality Verbose: ['Century City Mall, Poblacion, Makati City, Makati City'
 'Little Tokyo, Legaspi Village, Makati City, Makati City'
 'Edsa Shangri-La, Ortigas, Mandaluyong City, Mandaluyong City'
 'SM Megamall, Ortigas, Mandaluyong City, Mandaluyong City'
 'SM by the Bay, Mall of Asia Complex, Pasay City, Pasay City']
Longitude: [121.027535 121.014101 121.056831 121.056475 121.057508]
Latitude: [14.565443 14.553708 14.581404 14.585318 14.58445 ]
Cuisines: ['French, Japanese, Desserts' 'Japanese'
 'Seafood, Asian, Filipino, Indian' 'Japanese, Sushi' 'Japanese, Korean']
Average Cost for two: [1100 1200 4000 1500 1000]
Currency: ['Botswana Pula(P)' 'Brazilian Real(R$)' 'Dollar($)' 'Emirati Diram(AED)'
 'Indian Rupees(Rs.)']
Has Table booking: ['Yes' 'No']
Has Online delivery: ['No' 'Yes']
Is delivering now: ['No' 'Yes']
Switch to order menu: ['No']
Price range: [3 4 2 1]
Aggregate rating: [4.8 4.5 4.4 4.9 4. ]
Rating color: ['Dark Green' 'Green' 'Yellow' 'Orange' 'White']
Rating text: ['Excellent' 'Very Good' 'Good' 'Average' 'Not rated']
Votes: [314 591 270 365 229]

In [22]:
rating_map = {'Poor': 1, 'Average': 2, 'Good': 3, 'Very Good': 4, 'Excellent': 5}
df['Rating text'] = df['Rating text'].map(rating_map)

print(df_encoded.dtypes)

Restaurant ID              int64
Restaurant Name           object
Country Code               int64
City                      object
Address                   object
Locality                  object
Locality Verbose          object
Longitude                float64
Latitude                 float64
Cuisines                  object
Average Cost for two       int64
Currency                  object
Has Table booking         object
Has Online delivery       object
Is delivering now         object
Switch to order menu      object
Price range                int64
Aggregate rating         float64
Rating color              object
Votes                      int64
Rating text_Excellent       bool
Rating text_Good            bool
Rating text_Not rated       bool
Rating text_Poor            bool
Rating text_Very Good       bool
dtype: object